<h1> Carts </h1>
<%=form_with url: checkout_create_path, remote:true, local: false do %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <%cart.each do |product|%>
      <tr>
        <td>
          <div><p><%=link_to product.name, products_path(product.id)%></p>
            <p><%=image_tag(product.image.variant(resize_to_limit: [200,200]).processed) rescue nil%></p >
          </div>
        </td>
        <td>
          <input type="text" id="<%=product.id%>" name="<%=product.id%>" value="<%=@current_cart[product.id.to_s]%>">
        </td>
        <td><%=product.price%></td>
        <td><%=product.price * @current_cart[product.id.to_s]%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<input type="submit" value="Checkout">
<%end%>
