<h1> Products </h1>
<div class="container">
  <h1> Home Page </h1>
  <%=form_with url: search_products_path, method: :get do |f| %>
    <%= f.label :category, "Categories" %>
    <%= f.select :category , option_for_category(@current_category)%>
    <%= f.text_field :search %>
    <%= f.submit "Search", class: "btn btn-primary"%>
  <% end%>
  <div class="row display-flex">
    <%= render @products %>
  </div>
</div>
